body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

section {
    height: 100vh; /*Indica que cantidad de la pantalla se va a usar, en este caso pantalla completa*/
    display: flex; /*Convierte la fariable o contenedor a ser flexible, permitiendo alinear y distrubir elemntos*/
    align-items: center; /*Centra elementos verticalmente*/
    justify-content: center; /*Centra elementos horizontalmente*/
    flex-direction: column; /*Los elementos dentro del contenedor se apilan uno debajo de otro*/
}/*Esto es como un div pero más avanzado que permite integrar funciones de css*/

.hidden {
  opacity: 0; /*Se hacen invisible los elementos */
  transform: translateY(100px); /*Se mueven 50 px hacia abajo los elementos al hacer scroll*/
  transition: all 1s ease-out; /*Animación al hacer scroll*/
}

.show {
  opacity: 1; /*Se muestran los elementos*/
  transform: translateY(0); /*Los elementos vuelven a su posición*/
}